body {
  color: blue;
  text-align: center;
  font-family: "Arial";
}

.list-style {
  color: cornflowerblue;
  text-align: start;
  font-size: 1em;
  font-family: "Courier New", Courier, monospace;
}

.subtitle-style {
  color: darkmagenta;
}

.form {
  border: 1em solid brown;
}
