body {
  color: black;
  text-align: center;
  font-family: "Arial";
}

.list-style {
  color: cornflowerblue;
  text-align: start;
  font-size: 1em;
  font-family: serif;
}

.subtitle-style {
  color: darkmagenta;
}
.container {
  border: 2px solid;
  background-color: cornsilk;
}

.navegation {
  font-style: oblique;
  font-family: "Times New Roman";
  padding: 1em;
  text-align: left;
}

.git {
  border: 1px solid;
  background-color: rgb(157, 187, 150);
}

.platzi {
  text-align: center;
  border: 1px solid;
  background-color: rgb(183, 243, 44);
}

.youtube {
  text-align: right;
  border: 1px solid;
  background-color: rgb(157, 187, 150);
}
