body {
  color: black;
  text-align: center;
  font-family: "Arial";
}

.list-style {
  color: cornflowerblue;
  text-align: start;
  font-size: 1em;
  font-family: "Courier New", Courier, monospace;
}

.subtitle-style {
  color: darkmagenta;
}

.footer {
  background-color: #333;
  overflow: hidden;
}

.footer p {
  float: center;
  color: #f2f2f2;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  display: block;
  padding: 10px 10x;
}

.footer p:hover {
  background-color: green;
  color: black;
}
